build/* linguist-vendored
config/* linguist-vendored
test/e2e/* linguist-vendored
.postcssrc.js linguist-vendored
.eslintrc.js linguist-vendored
*.js linguist-language=Vue
*.graphql linguist-language=GraphQL
*.gql linguist-language=GraphQL
